
<h2 style="text-align:center;margin-top:50px;">Specialità del Giorno</h2>

<nav class="carosuel-container">
<div id="carousel" class="carousel slide">
<div class="carousel-inner">

<div class="carousel-item active">
<div>
<img src="/img/pasta.webp" class="d-block w-100" alt="Spagetti" type="image/webp">
</div>
<h3>Spagetti alla salsa di pomodoro</h3>
<div>
<ul>
<li>Spagetti 100g</li>
<li>Cipolla 10g</li>
<li>Salsa pomodoro 100g</li>
<li>Sale</li>
<li>Prezzemolo</li>
</ul>
</div>
</div>

<div class="carousel-item">
<div>
<img src="/img/due.webp" class="d-block w-100" alt="Penne">
</div>
<h3>Penne alla salsa di pomodoro</h3>
<div>
<ul>
<li>Spagetti 100g</li>
<li>Cipolla 10g</li>
<li>Salsa pomodoro 100g</li>
<li>Sale</li>
<li>Prezzemolo</li>
</ul>
</div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>
</nav>
