
<nav>

<section style='height:500px;' id="piatti">
<h4>Seleziona i piatti che preferisci <br/>(puoi fare massimo 10 ordini alla volta): </h4>

<h5>
<a data-bs-toggle="collapse" href="#antipasti" role="button" aria-expanded="false" aria-controls="Antipasti">Antipasti:</a>
</h5>

<div class="collapse" id="antipasti">
<div class="card card-body"></div>
</div>

<h5>
<a data-bs-toggle="collapse" href="#primo" role="button" aria-expanded="false" aria-controls="Primo">Primo:</a>
</h5>

<div class="collapse" id="primo">
<div class="card card-body"></div>
</div>

<h5>
<a data-bs-toggle="collapse" href="#secondo" role="button" aria-expanded="false" aria-controls="Secondo">Secondo:</a>
</h5>

<div class="collapse" id="secondo">
<div class="card card-body"></div>
</div>

<h5>
<a data-bs-toggle="collapse" href="#dolce" role="button" aria-expanded="false" aria-controls="Dolce">Dolce:</a>
</h5>

<div class="collapse" id="dolce">
<div class="card card-body"></div>
</div>


</section>

<section id="carrello">
<h4>Carrello</h4>
<ol id="lista"></ol>
<button class="btn btn-outline-success" id="btn-carrello">Invio</button>
</section>

<style>
#btn-carrello {
    position:relative;
    left:10%;
    width:80%;
    heigth:50px;
    padding:10px;
}

#antipasti,
#primo,
#secondo,
#dolce {
    margin:50px;
}

#antipasti div,
#primo div,
#secondo div,
#dolce div {
    background:#FFF5EE;
    display:inline-table;
}

</style>

<script src="/js/index.js"></script>
<script>
const button = document.getElementById("btn-carrello");

button.addEventListener("click",()=>{
    var data = [];
    const value = document.getElementById("lista");
    const map = new Map();
    data = $(value).find("li").text().split('; ');
    
    for(item in data) {
        if(data[item]!=""){
            map.set(item,data[item]);
        }
    }

    console.log(value);
    console.log(data);
    console.log(map);
})
</script>
</nav>
