@charset "UTF-8";
body{
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
    background:#FFF5EE;
    color:#293133;
}
::selection{
    background:red;
    color:white;}
/** scrollbar **/
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    background:#B2B2B2;
    border-radius:10px;
}

/** Header **/
header{
    position:relative;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:200px;
    z-index:2;
}

header h1{
    font-family:'Courier New', Courier, monospace;
    font-size:60px;
    color:white;
    position:absolute;
    top:50px;
    left:25%;
    z-index:3;
    width:50%;
}

header{
    background-image:url('/img/ristorante_file.jpeg');
    background-repeat:no-repeat;
    background-attachment:local;
    background-size:cover;
    background-position:center;
}

#link{
    background:#293133;
    color:#FFF5EE;
    height:50px;
    width:100%;
    position:relative;
    left:0;
    top:0;
    text-align:center;
    padding:10px;
    z-index:3;
}

#link a{
    text-decoration:none;
    color:#FFF5EE;
    padding:20px;
}

#link div{
    font-size:24px;
    display:inline-table;
    cursor:pointer;
}

#link div:hover,#link a:hover{
    color:#E52B50;
}

/** Footer **/
footer{
    background:#293133;
    color:#FFF5EE;
    width:100%;
    font-size:18px;
    position:static;
    bottom:0;
    left:0;
    right:0;
}

footer div{
    padding-top:20px;
    padding:40px;
    width:32%;
    height:100%;
    display:inline-table;
}

footer div ol{
    list-style:none;
}

footer h4{
    text-align:center;
}

footer div a{
    text-decoration:none;
    color:#FFF5EE;
}

footer div a:hover,footer div li:hover{
    color:#E52B50;
    cursor:pointer;
}

/** index **/
.carosuel-container{
    width:700px;
    height:auto;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
    box-shadow:0 0 10px 10px rgba(41, 49, 51, 0.5);
}

.carosuel-container img{
    width:700px;
    height:480px;
}

.carosuel-container h3{
    text-align:center;
}

/** page **/
/** Nav  piatti **/
#piatti{
    position:static;
    top:250px;
    left:0;
    right:30%;
    width:70%;
    height:100%;
    display:inline-table;
    border-right:1px solid #293133;
    border-collapse:collapse;
    z-index:1;
    text-align:center;
}

#piatti h4{
    margin:50px;
}

/** Nav  Carrello **/
#carrello{
    font-size:22px;
    position:absolute;
    top:250px;
    left:70%;
    right:0;
    width:30%;
    height:100%;
    display:inline-table;
    
}

#carrello li{
    margin-left:30px;
}

.box{
    background:white;
    border:1px solid #293133;
    width:150px;
    height:150px;
    border-radius:5px;
    margin:30px;
    display:inline-table;
    text-align:center;
    cursor:pointer;
}

.img {
    width:100px;
    height:100px;
    margin:auto;
    padding:10px;
}

.img img {
    width:100%;
    height:100%;
}

.box div{
    display:block;
}


/** page **/
#piatti form{
    text-align:center;
}

#piatti h2,#carrello h4{
    text-align:center;
    margin:30px;
}

#carrelo p{
    text-align:center;
    margin:5px;
}

/** stock **/
#giacenza {
    color:#293133;
    width:60%;
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
    text-align:center;
    font-size:20px;
}

#giacenza table{
    width:100%;
    height:auto;
    margin:auto;
}

#giacenza table,#giacenza th,#giacenza td{
    border:1px solid #DCDCDC;
    border-collapse:collapse;
    padding:10px;;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
#tab:focus,
#ora:focus,
#num:focus,
#orario:focus,
#prenota_tavolo button:focus
{
    box-shadow:0 0 0 5px rgba(41, 49, 51, 0.1);
    border-color:#DCDCDC; 
}

/** table **/
#disponibile{
    width:80%;
    margin:auto;
    margin-top:100px;
    text-align:center;
}

#disponibile h2,#disponibile h3{
    text-align:center;
    margin:15px;
}

#disponibile .form-floating{
    background:#FFF5EE;
    display: inline-table;
    width:200px;
}

#disponibile button{
    width:150px;
    height:50px;
    padding:10px;
}

#messaggio{
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
}

/* Message Container */ 
#messageContainer{
    display:none;
    overflow-x:scroll;
    left:15%;
    right:15%;
    top:20%;
    bottom:10%;
    width:70%;
    height:300px;
    background:#FFF5EE;
    position:fixed;
    border-radius:5px;
    z-index:3;
    box-shadow:0 0 10px 10px rgba(41, 49, 51, 0.1);
}

#messageContainer div{
    margin:0 auto;
    text-align:center;
}

#messageContainer p{
    text-align:left;
    padding-left:30px;
}

#messageCookie{
    background:#f9f7f2;
    color:#293133;
    border-radius:5px;
    margin:20px;
}

#messageContainer h4{
    margin-top:10%;
}

#messageContainer button{
    position:absolute;
    background:#f9f7f2;
    color:#293133;
    font-size:25px;
    top:5px;
    right:5px;
    border-style:none;
}

#messageContainer button:hover{
    color:#E52B50;
}

#message{
    padding:30px;
}
